{{#with address}}
<img class="column" src="{{image}}" alt="{{name.first}} {{name.last}}" />
<table class="column">
	<tbody>
		<tr>
			<th>Name</th>
			<td>{{name.first}} {{name.last}}</td>
		</tr>
		<tr>
			<th>Address</th>
			<td>
				{{address.line1}} {{address.line2}} <br>
				{{address.city}}, {{address.state}} <br>
				{{address.zip}} <br>
				{{address.country}} <br>
			</td>
		</tr>
		<tr>
			<th>Contact</th>
			<td>{{phone}}</td>
		</tr>
		<tr>
			<th>Email</th>
			<td>{{email}}</td>
		</tr>
	</tbody>
</table>
{{/with}}