/**
*	Ass styles for Address-Book App goes here
*/

body{
	background: #EEE;
	font-family: monospace;
}

ul{
	list-style: none;
	margin: 0;
	padding: 0;
}

.main{
	width: 960px;
	margin: 135px auto 0;
	background: #DDD;
	border: 1px solid #CCC;
}

main{
	width: 70%;
	border: 10px solid #ccc;
	box-sizing: border-box;
	padding: 10px;
	min-height: 240px;
}


aside{
	width: 30%;
	box-sizing: border-box;
	border: 10px solid #ccc;
	min-height: 240px;
}

h1{
	font-size: 36px;
	color: #999;
	text-align: center;
	font-family: monospace;
	margin-bottom: 25px;
	margin-top: 35px;
}

.column{
	float: left;
}

.container:after{
  content: "";
  display: table;
  clear: both;
}

.name {
	text-decoration: none;
	font-size: 14px;
	color: #AA0114;
	text-decoration: none;
	font-family: monospace;
	text-shadow: 1px 1px #fff;
	display: block;
	padding: 5px 15px;
}

.name.active {
	color: #ddd;
	background: #AA0114;
	text-shadow: 0 0;
	transition: 0.5s all;
}
.name:hover{
	color: #AAA;
	transition: 0.5s all;
}

.main > .container{
	padding: 10px 10px 20px 10px;
}

th {
	text-align: left;
	width: 35%;
	color: #AA0114;
	opacity: 0.5;
}

th, td {
	padding-bottom: 10px;
}

main table {
	margin-left: 60px;
	font-size: 14px;
	width: 55%;
}